@import url('./../common/img.css');

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(6, 6, 6, 0.2) !important;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content {
    display: flex;
    flex-direction: column;
    position: relative!important;
    background-color: #FFFFFF;
    box-shadow: rgb(136 136 136) 0px 0px 6px;
    border-radius: 5px;
    margin: 0;
    border: none;
}

.form-content .input-validate[redBoder] {
    border: 1px solid red!important;
}
/* .form-content .input-validate[redBoder] .el-input__wrapper{
    border: 1px solid red!important;
} */

.content-top button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    filter: brightness(0.8);
}
.content-top button:hover{
    filter: brightness(1);
}
.content-top {
    background-color: #3E96F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 34px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 9px;

}
.content-top span{
    color: #FFFFFF;
    font-family: Helvetica,Tahoma,Arial,sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.vdr-container {
    border: none!important;
}

/* ----------------center----------------- */
.flex1 {
    flex: 1;
}
.content-center {
    flex: 1;
    overflow-y: scroll;
}

.content-center .content-center-box {
    display: flex;
    flex-direction: column;
}

.content-center-box {
    padding-bottom: 10px;
}

.content-center-box .box-title{
    height: 37px;
    padding:10px;
    font-weight: bold;
    background-color: #f5f5f5;
}

.content-center-box .box-row {
    display: flex;
    padding: 0 10px;
    padding-top: 6px;
}
.content-center-box:nth-child(1) .box-row:nth-child(4) {
    height: 40px;
}
.content-center-box:nth-child(1)  .box-row:nth-child(6) {
    margin-top: 5px;
}
.content-center-box:nth-child(1)  .box-row:nth-child(7) {
    margin-bottom: 5px;
}
.content-center-box:nth-child(1)  .box-row:nth-child(11) {
    margin-top: 5px;
}
.content-center-box:nth-child(1)  .box-row:nth-child(13) {
    margin-bottom: 5px;
}
.content-center-box:nth-child(1)  .box-row:last-child {
    margin: 5px 0;
}
.content-center-box:nth-child(1)  .box-row:last-child label {
    width: 200px;
}

.span-right {
    width: 100px!important;
    margin-left: 20px;
}

.box-row .width-80 {
    width: 80px;
}

.box-row>span {
    width: 150px;
    white-space: nowrap;
}
.box-row>span>span {
    color: red
}
.box-row .form-combobox {
    flex: 1;
    height: 28px;
}


.box-row .box-radio {
    margin-right: 4px;
    width: 19px;
    height: 19px;
}
.box-row label {
    margin-right: 15px;
    /* text-align: center; */
    line-height: 20px;
}

.box-row .box-input {
    width: 150px;
    height: 30px;
    border: 1px solid #cfcfcf;
    outline: none;
    border-radius: 2px;
}

.text-align-end {
    text-align: end;
}
.box-row .box-input:focus {
    border: 1px solid #238de6;
}
.box-row .box-input.warning {
    border: 1px solid red;
}

.box-row textarea {
    border: 1px solid #cfcfcf;
    border-radius: 2px;
}

/* ---------------bottom */
.content-bottom {
    width: 100%;
    height: 44px;
    padding-top: 6px;
    border-top: 1px solid rgb(207, 207, 207);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: flex-end;
}

.content-bottom button div{
    min-width: 18px;
    min-height: 18px;
}
.content-bottom button span{
    padding-top: 3px;
    font: 300 13px helvetica, arial, verdana, sans-serif;
}
.content-bottom button{
    border-radius: 3px;
    border: 1px solid #b0bec5;
    min-width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

/* -------------------------- */